
.listing-wrap {
  background-color: #3c3c2e;
}
  .single-list-first{
    padding-top: 36px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .single-list{
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .list-text{
    font-family: 'Titillium Web', sans-serif;
    color: white;
  }
  .no-content{
    background-color: #3c3c2e;

    height: 640px;
  }